<html>
    <head>
        <style>
            body {
                margin: 0;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/2.3.0/tf.min.js"></script>
    </head>
    <body>
        <div id="<%= envName %>-container"></div>
        <script>
            const MODEL = `${document.location.origin}<%= model %>`;
            console.log(document.location.href);
            let script = document.createElement('script');
            script.src = `${document.location.origin}/environments/<%= envName %>/bundle.js`;
            document.body.appendChild(script);
        </script>
    </body>
</html>