<html>

<head>
    <%- include('../components/head') %>
    <style>
        .mainHeaderContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            background-color: #FFE500;
            margin-bottom: 3em;
        }

        p {
            text-align: center;
        }

        @media (max-width: 600px) {
            .mainHeaderContainer {
                grid-template-columns: 1fr;
            }
        }
    </style>
</head>

<body>
    <%- include('../components/nav') %>
    <div class="mainHeaderContainer">
        <img src="/images/logo.png" style="grid-column: auto; width: 512px;" />
        <div style="align-self: center; display: grid">
            <iframe style="border: none; border-radius: 1em; width: 306px; height: 306px; align-self: center"
                src="/env/gravity"></iframe>
            <br />
            <span style="text-align: center;">Your cursor is gravity!</span>
        </div>
    </div>
    <h2>What is Deep Physics?</h2>
    <div style="display: grid; justify-content: center;">
        <img src="/images/model.png" style="width: 548px;" />
    </div>
    <p>Deep Physics is a compact <a href="">DNN</a> model trained to simulate physics. It uses a snapshot in time to
        predict the next state(s) of a physical system.</p>
    <br /><br />
    <h2>Why Deep Phyiscs?</h2>
    <div style="display: grid; justify-content: center;">
        <img src="/images/intuitive_physics.png" style="width: 548px" />
    </div>
    <p>Deep Physics is not trying to compete with state of the art physics engines. This research explores the concept
        of <a href="">Intuitive Physics</a>, a possible subset of General AI.</p>
    <br /><br />
    <h2>Interested?</h2>
    <div style="display: grid; justify-content: center;">
        <img src="/images/play_read_dev.png" style="width: 548px;" />
    </div>
    <p>You can test the environments in the <a href="/gallery">gallery</a>, view the <a
            href="https://github.com/alexandre-lavoie/deep-physics/blob/master/Deep_Physics.pdf">research</a>, or <a
            href="https://github.com/alexandre-lavoie/deep-physics">develop using Deep Physics</a>.</p>
    <br /><br />
    <%- include('../components/footer') %>
</body>

</html>