<html>

<head>
    <%- include('../components/head') %>
    <style>
        body {
            background-color: #FFE500;
        }
    </style>
</head>

<body>
    <%- include('../components/nav') %>
    <div style="display: grid; justify-items: center;">
        </br></br>
        <img src="/images/construction.png" style="width: 512px;" />
        <h1 style="font-weight: 700;">Under Construction</h1>
    </div>
</body>

</html>